{
  "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ5b3VyX3VzZXJfaWQiLCJpc3MiOiJodHRwczovL2F1dGguZXhhbXBsZS5jb20vYXV0aC9yZWFsbXMvc3NvLXlvdXJfZW50ZXJwcmlzZSIsImV4cCI6MTc1MDAwMDAwMH0.<signature>",
  "refresh_token": "",
  "saved_at": "2026-08-08 00:00:00"
}
